<app-title [title]="'app.budget-period.title' | translate"
           [subtitle]="'app.budget-period.subtitle' | translate"/>

<button matButton="filled">{{ 'app.button.create' | translate }}</button>

<div class="budget-period-container">
  @for (budgetPeriod of budgetPeriods; track budgetPeriod.id) {
    <div class="budget-period">
      <h3>
        {{ 'month.' + budgetPeriod.period.substring(5, 7) | translate }}
        {{ budgetPeriod.period.substring(0, 4) }}
      </h3>
      <p>[Locked: {{ budgetPeriod.locked }}]</p>
      <p>{{ budgetPeriod.plannedAmount }} Euro</p>
      <div class="actions">
        <button matButton="elevated" >{{ 'app.button.view-details' | translate }}</button>
        <button matButton="elevated">{{ 'app.button.edit' | translate }}</button>
      </div>
    </div>
  }
</div>
