:host {
  > div {
    display: inline-block;
    width: 50%;
    margin-top: 1rem;
    vertical-align: top;
    background: rgba(red, 0.1);
    border: 1px solid rgba(red, 0.1);
    border-radius: 4px;
    color: red;
    overflow: hidden;

    > div {
      margin: 7px;
    }
  }
}

.enter-animation {
  animation: slide-fade 1s;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
