.categories-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
}

.category {
  background-color: var(--mat-sys-primary-container);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.mdc-button.danger-color {
  background-color: var(--mat-sys-error);
}
