<app-title [title]="'app.category.title' | translate"
           [subtitle]="'app.category.subtitle' | translate"/>

<button matButton="filled" routerLink="/create-category">{{ 'app.button.create' | translate }}</button>

<div class="category-container">
  @for (category of categories; track category.id) {
    <div class="category">
      <div>
        <div class="category-header">
          <div class="title"><h3>{{ category.name }}</h3></div>
          <div class="info">Itemized: {{ category.itemized }} <br/> Global: {{ category.global }}</div>
        </div>
        <div class="description">{{ 'app.category.description' | translate }}:<br/>{{ category.description }}</div>
      </div>
      <div class="actions">
        <button matButton="elevated" [routerLink]="['/edit-category', category.id]">{{ 'app.button.edit' | translate }}
        </button>
        <button matButton="filled"
                class="danger-color"
                (click)="openDialog('Oms', '0ms', category.name, category.id)">{{ 'app.button.remove' | translate }}
        </button>
      </div>
    </div>
  }
</div>

