:host {
  display: block;
  height: 100%;
}

.app-shell {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  padding: 20px;
  box-sizing: border-box;

  gap: 20px;
}

.app-content {
  flex: 1;
  min-height: 0;
}
