app-header {
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  background-color: var(--mat-sys-primary);
}

mat-sidenav-content {
  background-color: var(--mat-sys-primary-container);
  padding: 0 20px;
}

app-footer {
  background-color: var(--mat-sys-primary);
}
