<app-title [title]="'app.category.create.title' | translate" [subtitle]="'app.category.create.subtitle' | translate"/>

<form class="category-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'app.category.create.form-name' | translate }}</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'app.category.create.form-description' | translate }}</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <mat-checkbox formControlName="itemized">
    Itemized
  </mat-checkbox>
  <mat-checkbox formControlName="global">
    Global
  </mat-checkbox>

  <div class="button-container">
    <button matButton="filled" type="submit" [disabled]="formGroup.invalid">{{ 'app.button.create' | translate }}</button>
    <button matButton="outlined" type="button" routerLink="/categories">{{ 'app.button.back' | translate }}</button>
  </div>
</form>

<app-error-message [messages]="errorMessages" />
