@use '@angular/material' as mat;

@include mat.core();

:root {
  --app-background: #0f1115;

  --card-background: linear-gradient(
      180deg,
      #1c2027,
      #16191f);

  --card-border: rgba(255,255,255,0.10);

  --success-color: #22c55e;
  --danger-color: #ef4444;
}

html {

  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$blue-palette,
      tertiary: mat.$cyan-palette,
      error: mat.$red-palette,
    ),
    density: 0,
  ));

  --mat-sys-font-family: Inter, system-ui, sans-serif;

  @include mat.list-overrides((
    list-item-hover-state-layer-color: var(--mat-sys-primary),
    list-item-focus-state-layer-color: transparent,
    active-indicator-shape: 0,
  ));
}
