html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-header {
  flex: 0 0 auto;
}

.app-container {
  flex: 1 1 auto;
}
